.message-other-person,
.my-message {
  max-width: 70%;
  width: fit-content;
  padding: var(--space-sm);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;
}

.message-other-person {
  background-color: var(--color-brand--1);
  color: white;
}

.my-message {
  background-color: white;
  margin-left: auto;
  position: relative;
  padding-top: var(--space-lg);
}

.time {
  font-size: var(--space-sm);
  margin-left: auto;
  opacity: 60%;
}

.edit-btn {
  position: absolute;
  transform: translateY(-27px);
  /* left: 0;
  margin-left: 15px; */
  right: 0;
  margin-right: 15px;
  font-size: larger;
  color: var(--color-light--2);
}

.edit-btn:hover {
  color: var(--color-brand--1);
  cursor: pointer;
}

.options-box {
  background-color: var(--color-light--1);
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: var(--space-sm);
  transform: translateY(-30px);
  font-size: small;
  padding: 4px;
  border: var(--border-style-default);
  border-radius: var(--border-radius-default);
  display: flex;
  gap: var(--space-sm);
}

.option {
  cursor: pointer;
}

.option:hover {
  color: var(--color-brand--1);
  font-weight: 600;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--space-xxs);
  padding-bottom: var(--space-sm);
}

.edit-submit-btn {
  position: absolute;
  transform: translateY(35px);
}

.edit-submit-btn:hover {
  transform: translateY(35px);
}

.delete-confirm {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-xxs) var(--space-sm);
  gap: var(--space-xs);
}

.delete-buttons {
  display: flex;
  gap: var(--space-sm);
}
