.message-other-person, .my-message{
    width: 70%;
    padding: var(--space-sm);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.message-other-person{
    background-color: var(--color-brand--1);
    color: white;
}

.my-message{
    background-color: white;
    margin-left: auto;
}

.time{
    font-size: var(--space-sm);
    margin-left: auto;
    opacity: 60%;
}