.edit {
  color: var(--color-light--3);
  cursor: pointer;
  border: none;
  background: none;
}

.edit:hover {
  color: var(--color-light--4);
}

.my-profile {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
