.btns {
  display: flex;
  gap: var(--space-sm);
}

.btn {
  flex: 1;
}

.loader {
  margin: var(--space-xl);
  margin-left: 43%;
}

.list{
  margin-top: var(--space-lg);
}

.person {
  padding: var(--space-sm);
}
