.profile-stats {
  margin-top: var(--space-sm);
  font-size: small;
  font-weight: light;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.counts {
  cursor: pointer;
}

.counts:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  gap: var(--space-xs);
}
