.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  margin: var(--space-xxs);
  padding: var(--space-sm);
  border-radius: 40px;
  border: var(--border-style-default);
  width: 80%;
}
