.create-new-post {
  padding: var(--space-md);
  border-radius: 30px;
  border: var(--border-style-default);
  color: var(--color-dark--1);
  font-weight: bold;
  width: 100%;
  gap: var(--space-md);
  cursor: pointer;
}

.create-new-post:hover {
  background-color: var(--color-light--1);
}

.add-post-container {
  padding: var(--space-lg);
  color: var(--color-dark--1);
  font-size: smaller;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.add-post {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}


