.suggestions-container {
  padding: var(--space-md);
  width: 80%;
  height: 500px;
}

@media (min-width: 1200px) {
  .suggestions-container {
    padding: var(--space-md);
    width: 50%;
  }
}

.suggestions-title {
  padding: 0 var(--space-xs);
}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-top: var(--space-lg);
  justify-content: space-evenly;
  overflow: auto;
}

/* to make the last row justified to the start */
.suggestions-list::after {
  content: "";
  flex: 1 0 200px;
  max-width: 200px;
  visibility: hidden;
}

