.panel {
  padding: var(--space-md);
  max-height: 500px;
  overflow: auto;
}

.title {
  padding: 0 var(--space-xs);
  padding-bottom: var(--space-sm);
}

.person-li{
    padding: var(--space-sm);
}
