.options-box {
  background-color: var(--color-light--1);
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: var(--space-sm);
  transform: translateY(-30px);
  font-size: small;
  padding: 4px;
  border: var(--border-style-default);
  border-radius: var(--border-radius-default);
  display: flex;
  gap: var(--space-sm);
}

.delete-confirm {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-xxs) var(--space-sm);
  gap: var(--space-xs);
}

.delete-buttons {
  display: flex;
  gap: var(--space-sm);
}
