.comment-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment{
    margin-top: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}




