.main {
  background-color: var(--color-light--1);
  padding: var(--space-xl);
}

.panels {
  height: 80vh;
  width: 100%;
  display: flex;
}

@media (min-width: 1000px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .panels {
    max-width: 80%;
  }
}
