.main {
  background-color: var(--color-light--1);
  padding: var(--space-xl);
}

.panels {
  height: 80vh;
  width: 100%;
  display: flex;
}

.jobs-list-panel{
  padding: 0 var(--space-md);
  flex: 1;
  overflow: auto;
}

@media (min-width: 1000px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .panels {
    max-width: 80%;
  }
}
