.main {
  background-color: var(--color-light--1);
  padding: var(--space-xl);
  display: grid;
  grid-template-columns: 350px 700px;
  grid-template-rows: auto auto;
  gap: var(--space-xl);
  justify-content: center;
  align-items: start;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.jobs-section {
  align-self: start;
  height: fit-content;
}

@media (max-width: 1120px) {
  .main {
    grid-template-columns: 1fr;
  }

  .left-column {
    order: 1;
  }
  .jobs-section {
    order: 2;
  }
}
