.main {
  background-color: var(--color-light--1);
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

@media (min-width: 1000px) {
  .main {
    display: flex;
    justify-content: center;
  }
}



