.chat {
  border-top-right-radius: inherit;
  background-color: var(--color-light--2);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-md);
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .chat {
    border-top-left-radius: var(--border-radius-default);
  }
}
