.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 2px 6px #344f6437; */
  border: var(--border-style-default);
}

.show-more-button {
  display: none;
}

@media (max-width: 720px) {
  .show-more-button {
    display: inline;
    margin-right: 2rem;
  }
}
