.nav-item {
  color: var(--color-dark--1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--color-brand--2);
  text-decoration: underline var(--color-brand--2);
  font-weight: 600;
}

