.navbar-list {
  width: 60%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  list-style: none;
  gap: var(--space-xxl);
  justify-content: end;
}

@media (max-width: 800px) {
  .navbar-list {
    display: none;
  }

  .navbar-list.show {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 10rem;
    line-height: 2rem;
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    background: white;
    padding: 1rem;
    box-shadow: 0 2px 6px #344f6437;
    z-index: 2;
  }
}
