.button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: var(--color-brand--2);
  border: none;
  border-radius: 5px;
  color: var(--color-light--1);
  font-weight: 900;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.button:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  background-color: #eab657;
}


