.login-panel {
  flex: 1;
  background-color: var(--color-light--1);
  color: var(--color-dark--4);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.form-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.form-title {
  color: var(--color-brand--1);
  font-weight: 800;
  text-align: center;
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  color: var(--color-dark--1);
}

.forgot-password,
.join-now {
  color: #0e6cb5;
  text-decoration: underline #0e6cb5;
  cursor: pointer;
  font-size: small;
  text-align: center;
}

.hr {
  border: none;
  border-top: 1px solid var(--color-light--2);
  width: 100%;
  margin: 0.5rem 0;
}
