.marketing-panel {
  color: var(--color-light--1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/marketing-background.png");
  background-size: cover;
  background-position: center;
  background-color: var(--color-dark--4);
  background-blend-mode: overlay;
}

.marketing-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.marketing-description {
  margin-top: 40px;
  max-width: 60%;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .marketing-panel {
    display: none;
  }
}
