.back-button {
  display: none;
}

.company-name {
  color: var(--color-brand--1);
}

.job-info {
  font-size: smaller;
  color: var(--color-light--3);
  margin-top: var(--space-md);
}

.buttons {
  margin-top: var(--space-md);
  padding-bottom: var(--space-md);
  display: flex;
  gap: var(--space-md);
  border-bottom: var(--border-style-default);
}

.apply-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

@media (max-width: 600px) {
  .back-button {
    display: inline;
    width: fit-content;
    margin-bottom: auto;
    border-radius: 5px;
    border: var(--border-style-default);
    padding: var(--space-xxs);
    background-color: white;
    color: var(--color-light--4);
    font-size: large;
    margin-left: var(--space-md);
    margin-bottom: var(--space-md);
  }
  .back-button:hover {
    background-color: var(--color-light--1);
    cursor: pointer;
  }
}