.job-details-section {
  width: 60%;
  height: 100%;
  border: inherit;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--space-lg);
  overflow: auto;
}

@media (max-width: 600px) {
  .job-details-section {
    display: none;
  }
  .show-job {
    display: inline;
    width: 100%;
    border-radius: var(--border-radius-default);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

}
