.job-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  text-decoration: none;
}

.job-name {
  font-weight: bolder;
  color: var(--color-brand--1);
  text-decoration: underline;
  cursor: pointer;
}

.job-info {
  font-size: smaller;
  color: var(--color-dark--1);
}

.item-container {
  padding: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save {
  background: none;
  border: none;
  color: var(--color-brand--1);
  cursor: pointer;
  padding: var(--space-xs);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
