.search-job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  min-height: fit-content;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  width: 100%;
  padding: var(--space-md);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--color-dark--1);
  transition: background-color 0.2s;
  border-radius: var(--border-radius-default);
}

.action-btn:hover {
  background-color: var(--color-light--1);
  color: var(--color-brand--1);
}


.list {
  height: 500px;
  overflow: auto;
}
