.add-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

.add-comment-input{
    width: 90%;
}

.comment-icon {
  height: var(--space-xl);
  width: var(--space-xl);
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

