.comment-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment{
    margin-top: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.comment-icon {
  height: var(--space-xl);
  width: var(--space-xl);
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.commenter-header{
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.name{
    font-weight: bolder;
    color: var(--color-dark--2);
}

.comment-content{
    margin-left: var(--space-xxl);
    color: var(--color-dark--2);
    font-size: larger;
}

.delete-btn {
  background: none;
  border: none;
  color: var(--color-light--2);
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn:hover {
  color: var(--color-brand--1);
}

