.comment-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment{
    margin-top: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.commenter-header{
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.name{
    font-weight: bolder;
    color: var(--color-dark--2);
}

.comment-content{
    margin-left: var(--space-xxl);
    color: var(--color-dark--2);
    font-size: larger;
}


