.status {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-md);
  border-bottom: solid 1px var(--color-light--2);
}

.status div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

.status img {
  width: var(--space-md);
}

.comment-count {
  cursor: pointer;
}

.comment-count:hover {
  color: var(--color-brand--1);
  text-decoration: underline;
}

.likes {
  color: rgb(0, 162, 255);
}
