.status {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-md);
  border-bottom: solid 1px var(--color-light--2);
}

.status div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

.status img {
  width: var(--space-md);
}
