@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  /* default colors */
  --color-brand--1: #344f64;
  --color-brand--2: #d2b174;

  --color-light--1: #f3f1ec;
  --color-light--2: #c2c1bd;
  --color-light--3: #92918e;

  --color-dark--1: #61605e;
  --color-dark--2: #31302f;
  --color-dark--3: #181818;
  --color-dark--4: #2b3740;

  /* default border styles */
  --border-style-default: 1px solid #344f6437;
  --border-radius-default: 0.5rem;

  /* default spacing scales */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;
  --space-xxxl: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-dark--1);
  font-weight: 400;
  height: 100vh;
}
