.panel {
  background-color: white;
  border-radius: var(--border-radius-default);
  border: var(--border-style-default);
  overflow: auto;
  position: relative;
  min-height: 200px;
}

.top-border {
  border-top: 10px solid var(--color-brand--1);
}
