.profile-name {
  /* avatar sticks out var(--space-xxxl)/2 so add a bit more for gap */
  margin-top: calc(var(--space-xxxl) / 2 + var(--space-sm));
  font-size: larger;
  font-weight: bolder;
  color: var(--color-brand--1);
}

.profile-position {
  font-weight: bold;
}
