.spinner {
  border-style: solid;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
